token           = "fjcbnfhgjkNOAATuwRfMo7Kj-fhcbf-fhjgbcnf"
cloud_id        = "ghcbfnvhalfa6dqghcbf"
folder_id       = "fgcbdhrj5d2qfhcbnfjk"
zone            = "ru-central1-a"
image_id        = "fd87i7d4sm7gba4qlp0k"
public_key_path = "~/.ssh/id_rsa.pub"
subnet_id       = "fhcbdnf7lfrbfjcbnfhj"
app_disk_image  = "fd87i7d4sm7gba4qlp0k"
db_disk_image   = "fd87i7d4sm7gba4qlp0k"
