token           = "fjgkvbfndNOAATufjdhfbcv-fnvhf-fhdhfjgf"
cloud_id        = "fffm13fjfjfjfdqfhgjf"
folder_id       = "fffchfff5dddd971112i"
zone            = "ru-central1-a"
image_id        = "fd87i7d4sm7gba4qlp0k"
public_key_path = "~/.ssh/id_rsa.pub"
subnet_id       = "fffff444222bgfffffn4"
app_disk_image  = "fd87i7d4sm7gba4qlp0k"
db_disk_image   = "fd87i7d4sm7gba4qlp0k"
