token           = "AQAAAAAfhcbdnfjkrRfMo7Kj-fhjgv-fjcbnfhd"
cloud_id        = "fbvnchvhalfafhbvnfd"
folder_id       = "fjcbnfhd5dfhcbnvhfnd"
zone            = "ru-central1-a"
image_id        = "fd87i7d4sm7gba4qlp0k"
public_key_path = "~/.ssh/id_rsa.pub"
subnet_id       = "fhcb5oi7lffhcbndhfjd"
app_disk_image  = "fd87i7d4sm7gba4qlp0k"
db_disk_image   = "fd87i7d4sm7gba4qlp0k"
